/* 改写bootstrap样式 */

/* 其他 */
/* 最小宽度 */
@app-min-width: 1366px;

/* --------------------- 颜色 start --------------------- */
/* 基础颜色 */
@gray: #2f3239;
//@gray: #25272a;
/* 文字颜色 */
@app-text-color: @gray;
/* 导航区或功能区头部文字颜色*/
@app-nav-font-color: #25272a;
/*列表或详情文字颜色*/
@app-detail-font-color: #666666;
/* 边框线颜色 */
@app-border-color: #f5e6e7;
//@app-border-color: #f5f6f7;
//功能板块、导航板块、顶部板块、默认按钮边框线
@app-model-border-color: #D4D7D9;
//适用范围：表单文本框、文本域、表格边框线
@app-text-border-color: #E1E1E1;
//功能区域涉及的所有分割线
@app-divide-border-color:#d6d7d8;
/* hover公共颜色 */
@app-hover-color: #f2f3f5;
//@app-hover-color: #f5f6f7;
/* 选中公共颜色 */
@app-active-color: @app-hover-color;
/* 主题背景色 */
@app-background-base: #ffffff;
/* 功能背景色 */
@app-background-gray: #f5f6f7;

/* 基本色系 */
@app-color-blue: #2da9e9;
@app-color-black: #314557;
@app-color-red: #f15353;
@app-color-green: #0ec8a2;
@app-color-orange: #ff9e2a;
/*通用辅助颜色*/
@app-assist-color-red: #C82506;
@app-assist-color-orange: #E86E2B;
@app-assist-color-yellow: #F39019;
@app-assist-color-green: #17AC41;
@app-assist-color-lightGreen: #61D784;
@app-assist-color-darkBlue: #5B7ED9;
@app-assist-color-blue: #3498db;
@app-assist-color-lightBlue: #4DC8E7;
@app-assist-color-black: #2F3239;
@app-assist-color-purple: #9C83Db;
@app-assist-color-pink: #DB92D8;

/* --------------------- 颜色 end --------------------- */



/* --------------------- 文本 start --------------------- */
/* 文字 */
@app-font-family: "MicroSoft YaHei",arial,SimSun,Verdana,Geneva,Helvetica, sans-serif;
@app-font-size: 14px;
/* --------------------- 文本 end --------------------- */


/* 阴影色 */
@app-shadow-gray: lighten(@gray, 66.5%);
